div{
	display: inline;
}

img{
	border-radius: 15px;
	margin: 5px 5px;
}

h1{
	border-radius: 15px;
	color: #0BA49F;
}
.btn-siguiente{
	position:relative;
	margin-left: 30px;
	margin-top: 150px;
}
.img-diaposi{
	
	position:relative;
	/*left: 550px;*/
}
.btn-anterior{
	position:relative;
	margin-left: 160px;
	margin-top: 150px;
}

.galeria{
	position: absolute;
	width:900px;
	margin-left:250px;
	margin-top:20px;
	
	border:5px solid #808080;
	border-radius: 15px;
	padding:5px;
	
}
#volver{
	display: block;
	margin-top:10px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
}
.foto{
	margin-left:15%;
	margin-right:15%;
}